* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 1000px;
  height: 80vh;
  display: flex;
  position: relative;
}

.status {
  width: 25%;
  background-color: #f2f2f2;
  position: relative;
  padding: 0.5rem 1rem;
}

.status:nth-child(even) {
  background-color: #e9e9e9;
}

.status h1 {
  top: 0;
  left: 0;
  color: #fff;
  background-color: darkgrey;
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 0.75rem 0 0.75rem;
  font-size: 1rem;
}

.card .dlt_btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#add_btn {
  background-color: #5c5c5c;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#add_btn:hover {
  background-color: #fff;
  color: #5c5c5c;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  z-index: 1;
  width: 500px;
  padding: 1rem;
  justify-content: center;
  border-radius: 5px;
}

#inputField {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  padding: 0.25rem;
  font-size: 1.5rem;
}

.btn {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 1rem;
}
